<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
	<title>INVALID LOGIN</title>
	<meta charset="utf-8" />
	
	<link rel="stylesheet" type="text/css" href="{% static 'authentic/style33.css' %}" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body class="body">

	<header class="mainheader">
		
		
	</header>
	
	<div class="mainContent">
		<div class="content">
			 
			 <p style= " margin-top: 200px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 100px;"><h1>your user name or password is incorrect.Click here <a href = "{% url 'authentic:login' %} ">to login</a></h1>
			
			
		</div>
	</div>

	
	
</body>
</html>